USE [master]
GO
/****** Object:  Database [votingApp]    Script Date: 29-05-2024 12:26:05 ******/
CREATE DATABASE [votingApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'votingApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\votingApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'votingApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\votingApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [votingApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [votingApp]
GO
/****** Object:  Table [dbo].[candidates]    Script Date: 29-05-2024 12:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[votes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voters]    Script Date: 29-05-2024 12:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[has_voted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[candidates] ON 

INSERT [dbo].[candidates] ([id], [name], [votes]) VALUES (3, N'Modi', 0)
INSERT [dbo].[candidates] ([id], [name], [votes]) VALUES (4, N'Kejrival', 0)
INSERT [dbo].[candidates] ([id], [name], [votes]) VALUES (5, N'Yogi', 0)
SET IDENTITY_INSERT [dbo].[candidates] OFF
GO
SET IDENTITY_INSERT [dbo].[voters] ON 

INSERT [dbo].[voters] ([id], [name], [has_voted]) VALUES (9, N'Himanshu', 0)
INSERT [dbo].[voters] ([id], [name], [has_voted]) VALUES (10, N'Rahul', 0)
INSERT [dbo].[voters] ([id], [name], [has_voted]) VALUES (11, N'Sagar', 0)
SET IDENTITY_INSERT [dbo].[voters] OFF
GO
ALTER TABLE [dbo].[candidates] ADD  DEFAULT ((0)) FOR [votes]
GO
ALTER TABLE [dbo].[voters] ADD  DEFAULT ((0)) FOR [has_voted]
GO
USE [master]
GO
